{
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 100,
    "plugins": [
        "prettier-plugin-apex"
    ],
    "overrides": [
        {
            "files": "**/lwc/**/*.html",
            "options": {
                "parser": "lwc"
            }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": {
                "parser": "html"
            }
        }
    ]
}
